@charset "utf-8";
/* custom css file made by JeanDoe */

/* import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* css variables */

:root{
	--main-clr: #567;
	--light-bg: #d1e1f1;
	--light-clr: #7a7b7c;
	--black: #1a1b1c;
	--white: #fff;
	
	--body-font: 'Poppins','Ubuntu Mono', sans-serif;
}

/* initialisation */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-weight: normal;
}
::selection{
	background: var(--main-clr);
	color: var(--white);
}

html{
	font-size: 100%;
}

body{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	background: var(--light-bg);
	font-family: var(--body-font);
}

section{
	padding: 1rem;
}

/* password section start */

.password{
	background: var(--white);
	max-width: 25rem;
	width: 100%;
	padding: 2rem;
	border-radius: .25rem;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
}
.password-box{
	width: 100%;
	padding: 1rem;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.1);
	position: relative;
	color: var(--light-clr);
}
.password-box input{
	width: 80%;
	font-size: 1.2rem;
	color: var(--light-clr);
	letter-spacing: .04rem;
	background: transparent;
}

.password-box .copy-icon{
	position: absolute;
	right: 1rem;
	font-size: 1.2rem;
	color: var(--light-clr);
	cursor: pointer;
}
.password-box .copy-icon:hover{
	color: var(--main-clr);
}

.password .range-box{
	display: flex;
	width: 100%;
}

.range-box input{
	width: 100%;
	accent-color: var(--main-clr);
	cursor: pointer;
}

.range-box .slider-number{
	min-width: 2rem;
	text-align: right;
	font-size: 1.2rem;
	color: var(--light-clr);
}

.generate-button{
	background: #678;
	padding: 1rem;
	border-radius: .25rem;
	cursor: pointer;
	font-size: 1.3rem;
	width: 100%;
	color: var(--white);
	font-weight: 200;
	font-family: var(--body-font);
	transition: all .2s ease;
}

.generate-button:hover{
	background: var(--main-clr);
}

.notification{
	padding: .5rem;
	border-radius: .25rem;
	max-width: 25rem;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background: var(--white);
	position: relative;
	margin-top: 2rem;
}

.notification .info_icon{
	position: absolute;
	top: -1rem;
	right: -1rem;
	border-radius: 50%;
	background: var(--main-clr);
	color: var(--white);
	display: block;
	height: 2rem;
	width: 2rem;
	text-align: center;
	line-height: 1.6rem;
}
.notification .title{
	color: #232426;
	font-size: 1.2rem;
	text-align: center;
	cursor: pointer;
	text-transform: capitalize;
}
.notification .title:hover{
	color: var(--main-clr);
}
.content{
	margin-top: 1rem;
	padding: 1rem;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.1);
	color: #232426;
	font-weight: 200;
	font-size: .938rem;
	transition: all .3s;
	display: none;
}
.content.active{
	display: block;
}
.notification .content span{
	color: var(--main-clr);
}

.close{
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	font-size: 1.2rem;
	cursor: pointer;
	color: #232426;
	display: none;
}

.close.active{
	display: block;
	color: var(--light-clr);
}





